{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">

<!-- BASE INDEX FOR SITE -->

<head>

<link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}"/>

 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

	{% if title %}
		<title>ByteTheApple - {{ title }}</title>
	{% else %}
		<title>ByteTheApple</title>
	{% endif %}
</head>
<body>
	<header class="site-header">
	  <nav class="navbar navbar-expand-md navbar-light bg-white shadow fixed-top mb-3">
	    <div class="container">
	      <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">ByteTheApple</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarToggle">
	        	<div class="navbar-nav mr-auto"></div>

		        <!-- Navbar Right Side -->
		        <div class="navbar-nav mr-auto" style="float:right;">

		          {% if cats_menu %}
		          <div class="nav-item dropdown my-auto">
		          	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          		Categories
		          	</a>
		          	<div class="dropdown-menu dropdown-content scrollbar-rare-wind shadow" aria-labelledby="navbarDropdown">
		          		{% for item in cats_menu %}
		          		<a class="dropdown-item category-main" href="{% url 'cat-results' item %}">{{ item }}</a>
		          		{% endfor %}
		          	</div>
		          </div>
		          {% endif %}

		        	{% if user.is_anonymous %}
		        	<a class="nav-item nav-link highlight-button" href="{% url 'login' %}">Login</a>
		        	<a class="nav-item nav-link highlight-button" href="{% url 'register' %}">Register</a>
		        	{% endif %}	
		        
		      	</div>
	    	</div>
	    </div>
	  </nav>
	</header>

	<main role="main" class="container">
	  <div class="row">
	    <div class="col-md-8">
	    	{% if messages %}
	    		{% for message in messages %}
	    			<div class="alert alert-{{ message.tags }}">
	    				{{ message }}
	    			</div>
	    		{% endfor %}
	    	{% endif %}
	    	
	    {% block content %}
	    {% endblock %}

	    </div>

	    <div class="col-md-4 d-none d-md-block">
	    	<div class="sticky-top">

    			<!-- Search -->
				<div class="btn-block btn-group mx-auto">
				  <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false"><i class='fas fa-search'></i> Search</button>
				   <div class="dropdown-menu dropdown-menu-lg-right p-2 text-white shadow search">
						<div class="form-group">
							<form action="{% url 'search-results' %}" method="get">
							  <input name="q" type="text" placeholder="Search by keyword..." title="press enter on your keyboard">
							</form>
						   <form class= "mt-1" action="{% url 'user_results' %}" method="get">
						  		<input name="q1" type="text" placeholder="Search by username..." title="press enter on your keyboard">
						 	</form>
						<small style="color: black">press enter on your keyboard</small>
					   </div>
					</div>
				</div><br><br>

				<!-- Profile -->
	        	{% if user.is_authenticated %}
				<div class="btn-group dropright">
				  <button type="button" class="btn btn-sm btn-light side-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="rounded-circle account-header-img" src="{{ user.profile.image.url }}"> {{ user.username }}
				  </button>
				  <div class="dropdown-menu">
				    <a class="btn btn-sm btn-light side-link mx-auto" href="{% url 'profile' %}">Profile <i class="fa fa-solid fa-user"></i></a>
				    <a class="btn btn-sm btn-light side-link" href="{% url 'profile_settings' %}">Settings <i class="fa fa-solid fa-gear"></i></a>
				    {% if user.is_staff %}
				    <a class="btn btn-sm btn-light side-link" href="{{ '/admin/' }}">Admin <i class="fa fa-solid fa-gear"></i></a>
				    {% endif %}
				    <a class="btn btn-sm btn-light side-link" style="float:right;" href="{% url 'logout' %}">Logout <i class="fa fa-solid fa-arrow-right"></i></a>
				  </div>
				</div><br><br>
				{% endif %}	

				<!-- Sidebar -->
		      <div class="content-section shadow">
		      	{% if user.is_authenticated %}
		        	<a class="btn btn-lg btn-block button" href="{% url 'post-create'%}"><i class="fa fa-solid fa-pen"></i>+ New Post</a>
		        	{% else %}
		        	<a class="btn btn-lg btn-block button" href="{% url 'login'%}"><i class="fa fa-solid fa-pen"></i>+ New Post</a>
		        	{% endif %}
		        	<hr>
		          <ul class="list-group">
		          	<li class="list-group-item list-group-item"><a class="btn btn-light side-link" href="{% url 'blog-home' %}"><i class="fa fa-solid fa-store"></i> Home</a></li>
		          	<li class="list-group-item list-group-item"><a class="btn btn-light side-link" href="{% url 'following' %}"><i class="fa fa-solid fa-users"></i> Friends</a></li>

		          	{% if user.is_authenticated %}
		          	<li class="list-group-item list-group-item">
		          		{% show_notifications %}
		            </li>
		            {% else %}
		            <li class="list-group-item list-group-item">
		            <a href="{% url 'login' %}" class="btn btn-light side-link"><i class="fa fa-solid fa-bell"></i> Notifications</a></li>
		            {% endif %}

		            <li class="list-group-item list-group-item"><a class="btn btn-light side-link" href="{% url 'inbox' %}"><i class="fas fa-solid fa-inbox"></i> Messages</a></li>
		          </ul>
		      </div>

		      {% block news_content %}
		      <div class="content-section shadow">
		      	<h4>Tech News</h4>
		      	{% comment %}{% news_feed %}{% endcomment %}
		      </div>
		      {% endblock %}
		      
	      <span style="font-weight: 300;">2022 ByteTheApple |&nbsp</span>
	      <a class="misc-link" href="{% url 'blog-about' %}">About</a>

	    	</div>
	    </div>
	  </div>
	</main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS (For Bootstrap 4)-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/74faac216c.js" crossorigin="anonymous"></script>

<script src="{% static 'blog/notifications.js' %}" type="text/javascript"></script>
	{% block scripts %}
	{% endblock scripts %}
</body>
</html>