{% extends 'blog/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_tags %}

<!-- posts by category -->

{% block content %}
	{% for post in posts %}
	<article class="media content-section shadow">
		<a class="mr-2" href="{% url 'user-posts' post.author.username %}">
			<img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}"></a>
		<div class="media-body">

		{% include 'blog/posts_main.html' %}

		<br>
		<a href="{% url 'post-detail' post.id %}" class="button btn-sm text-decoration-none mt-n2" style="float:right;">Comment</a>

		</div>
	</article>

	{% endfor %}

	{% include 'blog/pagination.html' %}

{% block news_content %}
{% endblock %}

{% endblock content %}

{% block scripts %} 
<script src="{% static 'blog/base.js' %}"></script>
{% endblock scripts %}

 