{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
	{% for post in posts %}
	<article class="media content-section">
		<img class="rounded-circle article-img" src={{ post.author.profile.image.url }}>
		<div class="media-body">
		<div class="article-metadata">
		<a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
		<small class="text-muted">{{ post.date_posted | date:"F d, Y" }}</small>
		{% if post.category == None %}
		<small>Uncategorized</small>
		{% else %}
		<small><a href="{% url 'cat-results' post.category %}">category: {{ post.category }}</a></small>
		{% endif %}
		</div>
		<h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
		</h2>
		<p class="article-content">{{ post.content|urlize }}</p>

		<!--Carousel Wrapper-->
		<div id="carousel-1z-{{ post.id }}" class="carousel slide carousel-fade carousel-dark" data-interval="false">
		  <!--Indicators-->
		  <ol class="carousel-indicators">
		  	{% for postimage in post.postimage_set.all %}
		    <li data-target="#carousel-1z" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %} active {% endif %}"></li>
		    {% endfor %}
		  </ol>
		  <!--/.Indicators-->
		  <!--Slides-->
		  <div class="carousel-inner" role="listbox">
		    <!--First slide-->
		    {% for postimage in post.postimage_set.all %}
		    <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
		      <img class="d-block w-100 img-fluid " src="{{ postimage.image.url }}"
		        alt="First slide">
		    </div>
		    {% endfor %}
		    <!--/First slide-->
		  </div>
		  <!--/.Slides-->
		  <!--Controls-->
		  <a class="carousel-control-prev" href="#carousel-1z-{{ post.id }}" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carousel-1z-{{ post.id }}" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		  <!--/.Controls-->
		</div>
		<!--/.Carousel Wrapper-->

<!-- 		{% if post.image_url %}
		<img class="center-block img-fluid" src={{ post.image_url }}>
		{% endif %} -->

		{% if post.get_youtube_urls %}
			{% for url in post.get_youtube_urls %}
				<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			{% endfor %} 
		{% endif %}
		</div>
	</article>
	{% endfor %}

	{% if is_paginated %}

		{% if page_obj.has_previous %}
		<a class="btn btn-outline-info mb-4" href="/?page=1">First</a>
		<a class="btn btn-outline-info mb-4" href="/?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}

		{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number == num %}
			<a class="btn btn-info mb-4" href="/?page={{ num }}">{{ num }}</a>
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
			<a class="btn btn-outline-info mb-4" href="/?page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}

		{% if page_obj.has_next %}
		<a class="btn btn-outline-info mb-4" href="/?page={{ page_obj.next_page_number }}">Next</a>
		<a class="btn btn-outline-info mb-4" href="/?page={{ page_obj.paginator.num_pages }}">Last</a>
		{% endif %}

	{% endif %}
{% endblock content %}