{% load static %}
{% load custom_tags %}

{% for comment in post.comment_list|slice:"0:7" %}
{% if comment.is_parent %}
<div class="clist" id="clist{{ comment.id }}" >
	<article class="media comment-section">	
	<a class="mr-2 comment-user" href="{% url 'user-posts' comment.user %}">	
	<img class="rounded-circle comment-img" src="{{ comment.user.image.url }}"></a>
		<div class="media-body mt-1">
			<div class="article-metadata">
				<a class="mr-2 text-dark profile-link comment-user" href="{% url 'user-posts' comment.user %}">{{ comment.user.user.username }}</a>
				<small class="text-muted comment-created" style="float:right;">
					{% if comment.created|timesince|upto == "show_date" %}
					{{ comment.created|date:"F d, Y" }}
					{% elif comment.created|timesince|upto == "Just Now" %}
					{{ comment.created|timesince|upto }}
					{% else %}
					{{ comment.created|timesince|upto }} ago
					{% endif %}
				</small>
				<p class="comment-content">{{ comment.body|urlizetrunc:26 }}</p>
			</div>
			<div class="btn-group llc-btn">
			<form action="{% url 'like-comment-view' %}" method="POST" class="comlike-form" id='{{ comment.id }}'>
				{% csrf_token %}
				<input type="hidden" name="comment_id" value="{{ comment.id }}" class="cl-input"> 
				{% if request.user.is_authenticated %}
				{% if request.user.profile in comment.liked.all %}
					<button type="submit" class="btn btn-liked1 btn-sm py-0 com-like" id="like-btn{{ comment.id }}" style="font-size: 0.8em;">Liked <span class="like-icon"><i class="fa fa-heart"></i></span></button>
				{% else %}
					<button type="submit" class="btn btn-like0 btn-sm py-0 com-like" id="like-btn{{ comment.id }}" style="font-size: 0.8em;">Like <span class="like-icon"><i class="fa fa-heart"></i></span></button>
				{% endif %}
				{% else %}
					<a href="{% url 'login' %}" class="btn btn-like0 btn-sm py-0" style="font-size: 0.8em;">Like <span class="like-icon"><i class="fa fa-heart"></i></span></a>
				{% endif %}

				<!-- Button trigger modal - Shows likes list of users -->
				<button type="button" class="btn btn-outline-dark btn-sm py-0 com-modal like-count{{ comment.id }}" data-toggle="modal" style="font-size: 0.8em;" data-target="#commentlikesModalLong-{{ comment.id }}">
				  {{ comment.num_likes }} Likes
				</button>

				<!-- Modal -->
				<div class="modal fade cmodal" id="commentlikesModalLong-{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="commentlikesModalLongTitle" aria-hidden="true">
				  <div class="modal-dialog" role="document">
					<div class="modal-content">
					  <div class="modal-header">
						<h5 class="modal-title" id="commentlikesModalLongTitle">Liked by</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>
					  </div>
					  <div class="modal-body liked-list{{ comment.id }}">
						{% for user in comment.liked.all %}
						<div id="cl{{ user.user.username }}">
							<ul class="list-unstyled">
								<li>
									<a href="{% url 'user-posts' user %}">
									<img class="rounded-circle article-img" src="{{ user.image.url }}"></a>
									<a class="mr-2 badge badge-light" href="{% url 'user-posts' user %}">{{ user }}</a>
								</li>
							</ul>
						</div>
						{% endfor %}
					  </div>
					</div>
				  </div>
				</div>
			<a href="{% url 'post-comment-detail' post_pk=post.pk comment_pk=comment.pk %}" class="btn btn-outline-dark btn-sm py-0" style="font-size: 0.8em;">
				{% if comment.children.count == 0 %}
				Reply
				{% else %}	
				{{ comment.children.count }} Replies
				{% endif %}
				</a>

			</form>
			</div>
			{% if request.user == comment.user.user %}
			<div class="btn-group dropdown" style="float:right;">
						<button class="btn ud-action-button dropdown-toggle mt-n1 btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		   				•••</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<!-- Button trigger modal - Delete Button -->
							<button class="btn text-danger btn-sm dropdown-item py-0 delete-btn{{ comment.id }}" style="font-size: 0.8em" data-toggle="modal" data-target="#commentdeleteModal-{{ comment.id }}">Delete <i class="fa fa-trash"></i></button>
						</div>
			{% include 'blog/comment_confirm_delete.html' %}
			</div>
			{% endif %}
			
		</div>
	</article>
</div>
{% endif %}
{% endfor %}

