{% extends 'blog/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_tags %}

{% block content %}
	{% for post in posts %}
	<article class="media content-section shadow">
		<a class="mr-2" href="{% url 'user-posts' post.author.username %}">
			<img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}"></a>
		<div class="media-body">

		{% include 'blog/posts_main.html' %}

		{% if request.user.is_authenticated %}

		<br>
		<form action="{% url 'comment-post-view' %}" method="POST" class="com-form" id="{{ post.id }}">
			{% csrf_token %}
			<input type="hidden" name="post_id" value="{{ post.id }}">
			{{ c_form|crispy }}
			<button type="submit" class="button btn-sm mt-n2 com-btn" id="{{ post.pk }}" name="submit_c_form" style="float:right;">
				Comment 
			</button>

<!-- button btn-sm py-0 mt-n2 mx-auto d-block btn-block com-btn -->

		</form>
		{% else %}
<!-- 		<a href="{% url 'login' %}" class="btn btn-outline-secondary btn-sm py-0 mx-auto d-block btn-block" style="font-size: 0.8em;">comment</a> -->
		<a href="{% url 'login' %}" class="btn btn-sm button mt-n2" style="float:right;">Comment</a>
		{% endif %}

		<!-- <button class="cmt_btn button btn-sm">Show replies</button> -->
		
		{% if post.comment_list %}
		<button class="show-replies-button button-empty btn-sm py-0 mx-auto d-block btn-block">Show replies</button>
    	<div class="comment-box" id="comment-box-{{ post.id }}">

			{% if post.comment_list|length|gtoe:7 %}
			<a href="{% url 'latest-comment-post-detail' post.id %}" class="btn btn-outline-secondary btn-sm py-0" style="font-size: 0.8em;">Sort By Latest Comments</a>
			<h5 class="text-center"><small class="font-weight-bold text-center" style="font-size: 0.8em;">--showing top comments--</small></h5>
			{% endif %}

		<div class="comment-list com-list{{ post.id }}" id="{{ post.pk }}">
			{% include 'blog/comments.html' %}

		</div>
			{% if post.comment_list|length|gtoe:7 %}
			<br>
			<a href="{% url 'post-detail' post.id %}" class="btn btn-outline-secondary btn-sm py-0 mx-auto d-block" style="font-size: 0.8em;">Show more replies</a> 
			{% endif %}
		</div>
		{% else %}
		<br><br>
		<div class="comment-list com-list{{ post.id }}" id="{{ post.pk }}">


		{% include 'blog/comments.html' with comment="test" %}


		</div>
		{% endif %}

		</div>
	</article>

	{% endfor %}

	{% include 'blog/comment_template.html' %}

	{% include 'blog/pagination.html' %}

{% endblock content %}

{% block scripts %} 
<script src="{% static 'blog/base.js' %}"></script>
<script src="{% static 'blog/main_listview.js' %}"></script>
{% endblock scripts %}

 