{% extends 'blog/base.html' %}
{% load custom_tags %}

<body>
{% block content %}
	<article class="media content-section" id='{{ post.id }}'>
		<img class="rounded-circle article-img" src={{ object.author.profile.image.url }}>
		<div class="media-body">
		<div class="article-metadata">
		{% if post.author == request.user %}
		<a class="mr-2" href="{% url 'profile' %}">{{ object.author }}</a>
		{% else %}
		<a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ object.author }}</a>
		{% endif %}
		<small class="text-muted">{{ object.date_posted | date:"F d, Y" }}</small>

		{% if post.category == None %}
		<small style="float:right;">Uncategorized</small>
		{% else %}
		<small style="float:right;"><a href="{% url 'cat-results' post.category %}">category: {{ post.category }}</a></small>
		{% endif %}
		</div>
		
		<h2 class="article-title">{{ object.title }}</h2>
		<p class="article-content">{{ object.content|urlizetrunc:26 }}</p>

		<!--Carousel Wrapper-->
		<div id="carousel-1z-{{ post.id }}" class="carousel slide carousel-fade carousel-dark" data-interval="false">
		  <!--Indicators-->
		  <ol class="carousel-indicators">
			{% for postimage in post.postimage_set.all %}
			<li data-target="#carousel-1z" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %} active {% endif %}"></li>
			{% endfor %}
		  </ol>
		  <!--/.Indicators-->
		  <!--Slides-->
		  <div class="carousel-inner" role="listbox">
			<!--First slide-->
			{% for postimage in post.postimage_set.all %}
			<div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
			  <img class="d-block w-100 img-fluid " src="{{ postimage.image.url }}"
				alt="First slide">
			</div>
			{% endfor %}
			<!--/First slide-->
		  </div>
		  <!--/.Slides-->
		  <!--Controls-->
		  <a class="carousel-control-prev" href="#carousel-1z-{{ post.id }}" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carousel-1z-{{ post.id }}" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		  </a>
		  <!--/.Controls-->
		</div>
		<!--/.Carousel Wrapper-->
<br>
		{% if post.get_youtube_urls %}
			{% for url in post.get_youtube_urls %}
				<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			{% endfor %}
		{% endif %}

	<br><br><hr>
	<div class="btn-group">
		<form action="{% url 'like-post-view' %}" method="POST" class='like-form' id='{{ post.id }}'>
			{% csrf_token %}
			<input type="hidden" name="post_id" value="{{ post.id }}"> 
			{% if request.user.is_authenticated %}
			{% if request.user.profile in post.liked.all %}
				<button type="submit" class="btn btn-liked1 btn-sm like-btn{{ post.id }}" style="font-size: 0.8em;">Liked <span class="like-icon"><i class="fa fa-heart"></i></span></button>
			{% else %}
			<!-- btn-sm py-0" style="font-size: 0.8em;" -->
				<button type="submit" class="btn btn-like0 btn-sm like-btn{{ post.id }}" style="font-size: 0.8em;">Like <span class="like-icon"><i class="fa fa-heart"></i></span></button>
			{% endif %}
			{% else %}
				<a href="{% url 'login' %}" class="btn btn-outline-info btn-sm" style="font-size: 0.8em;">Like <span class="like-icon"><i class="fa fa-heart"></i></span></a>
			{% endif %}

			<!-- Button trigger modal -->
			<button type="button" class="btn btn-outline-dark btn-sm like-count{{ post.id }}" data-toggle="modal" data-target="#postlikesModalLong-{{ post.id }}" style="font-size: 0.8em;">
			  <small>{{ post.num_likes }} Likes</small>
			</button>

			<!-- Modal -->
			<div class="modal fade" id="postlikesModalLong-{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="postlikesModalLongTitle" aria-hidden="true">
			  <div class="modal-dialog" role="document">
				<div class="modal-content">
				  <div class="modal-header">
					<h5 class="modal-title" id="postlikesModalLongTitle">Liked by</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
				  </div>
				  <div class="modal-body liked-list{{ post.id }}">
					{% for user in post.liked.all %}
					<div id="pl{{ user.user.id }}">
					<ul class="list-unstyled">
					<li>
						<div>
						<a href="{% url 'user-posts' user %}">
						<img class="rounded-circle article-img" src="{{ user.image.url }}"></a>
						<a class="mr-2 badge badge-light" href="{% url 'user-posts' user %}">{{ user }}</a>
						</div>
					</li>
					</ul>
					</div>
					{% endfor %}
				  </div>
				</div>
			  </div>
			</div>
		<a class="mr-2 btn btn-outline-dark btn-sm comment-count{{ post.id }}" href="{% url 'post-detail' post.id %}"><small class="comment-count-small{{ post.id }}">{{ post.num_comments }} Comments</small></a>

		</form>
</div>
		{% if post.author == request.user %}
		<div class="btn-group" style="float:right;">
		<a class="btn btn-outline-secondary btn-sm" href="{% url 'post-update' post.id %}">Update</a>
		<a class="btn btn-outline-danger btn-sm" href="{% url 'post-delete' post.id %}">Delete</a>
		</div>
		{% endif %} 
		
	</div>
	</article>

		<div class="comment-list com-list{{ post.id }}" id="{{ post.pk }}">
			{% if post.comment_list|length|gtoe:3 %}
			<a href="{% url 'latest-comment-post-detail' post.id %}" class="btn btn-outline-secondary btn-sm py-0" style="font-size: 0.8em;">Sort By Latest Comments</a>
			{% endif %}

			{% include 'blog/comments.html' %}

		</div>

		{% include 'blog/comment_template.html' %}

{% endblock content %}
</body>

 {% block scripts %} 
	<script>
		$( document ).ready(function() {
			let display = false
			$(".cmt_btn").click(function () {
				if (display===false) {
					$(this).next(".comment-box").show("slow");
					display=true
				} else {
					$(this).next(".comment-box").hide("slow");
					display=false
				}  
			});

			// LIKE/UNLIKE POSTS
			$('.like-form').submit(function(e){
				e.preventDefault()
				const post_id = $(this).attr('id')
				const likeText = $(`.like-btn${post_id}`).text()
				const trim = $.trim(likeText)
				const url = $(this).attr('action')

				let res;
				const likes = $(`.like-count${post_id}`).text()
				const trimCount = parseInt(likes)
				
				$.ajax({
					type: 'POST',
					url: url,
					data: {
						'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
						'post_id':post_id,
					},
					success: function(response) {
						console.log('response.user_id'+response.user_id)
						// LIST OF USERS WHO LIKED THE POST
						var userlikeHTML =  
										'<div id="pl' +response.user_id + '">' +
										'<ul class="list-unstyled">' +
										'<li>' + 
										'<a href="/user/' +
										response.username + 
										'">' +
										'<img class="rounded-circle article-img" src="' + response.image + '">' +
										'<a class="mr-2 badge badge-light" href="/user/' +
										response.username +
										'">' +
										response.username +
										'</a>' +
										'</li>' +
										'</ul>' +
										'</div>';

						if(trim == "Liked") {
							$(`.like-btn${post_id}`).text('Like ')
							res = trimCount - 1
							
							$(`.like-btn${post_id}`).removeClass('btn-liked1').addClass('btn-like0');
							$(`.like-btn${post_id}`).append('<span class="like-icon"><i class="fa fa-heart icn-spinner"></i></span>');

							$(`.liked-list${post_id}`).find('#pl'+response.user_id).remove();

							console.log(response.user_id)
							console.log('removed')

						} else {
							$(`.like-btn${post_id}`).text('Liked ')
							res = trimCount + 1
							$(`.like-btn${post_id}`).removeClass('btn-like0').addClass('btn-liked1');
							$(`.like-btn${post_id}`).append('<span class="like-icon"><i class="fa fa-heart icn-spinner"></i></span>');

							$(`.liked-list${post_id}`).append(userlikeHTML);
						}
						console.log(response)
						console.log(response.username)
						console.log(response.image)

						$(`.like-count${post_id}`).text(res + ' ' + 'Likes');
					},
					error: function(response) {
						console.log('error', response)
					}
				})
			})

			// LIKE/UNLIKE COMMENTS
			$('.comlike-form').submit(function(e){
				e.preventDefault()
				const comment_id = $(this).attr('id')
				console.log(comment_id)
				const likeText = $(`#like-btn${comment_id}`).text();
				console.log(likeText)
				const trim = $.trim(likeText)
				const url = $(this).attr('action')
				console.log(trim)
				console.log(url)

				let res;
				const likes = $(`.like-count${comment_id}`).text()
				const trimCount = parseInt(likes)
				console.log(likes)
				console.log(trimCount)
				
				$.ajax({
					type: 'POST',
					url: url,
					data: {
						'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
						'comment_id':comment_id,
					},
					success: function(response) {
						// LIST OF USERS WHO LIKED THE COMMENT
						var userlikeHTML =  
										'<div id="cl' +response.username + '">' +
										'<ul class="list-unstyled">' +
										'<li>' + 
										'<a href="/user/' +
										response.username + 
										'">' +
										'<img class="rounded-circle article-img" src="' + response.image + '">' +
										'<a class="mr-2 badge badge-light" href="/user/' +
										response.username +
										'">' +
										response.username +
										'</a>' +
										'</li>' +
										'</ul>' +
										'</div>';
						console.log(response)
						if(trim == "Liked") {
							$(`#like-btn${comment_id}`).text('Like ');
							res = trimCount - 1;
							
							$(`#like-btn${comment_id}`).removeClass('btn-liked1').addClass('btn-like0');
							$(`#like-btn${comment_id}`).append('<span class="like-icon"><i class="fa fa-heart icn-spinner"></i></span>');

							$(`.liked-list${comment_id}`).find('#cl'+response.username).remove();

						} else {
							$(`#like-btn${comment_id}`).text('Liked ');
							res = trimCount + 1;
							$(`#like-btn${comment_id}`).removeClass('btn-like0').addClass('btn-liked1');
							$(`#like-btn${comment_id}`).append('<span class="like-icon"><i class="fa fa-heart icn-spinner"></i></span>');

							$(`.liked-list${comment_id}`).append(userlikeHTML);

						}

						$(`.like-count${comment_id}`).text(res + ' ' + 'Likes');
					},
					error: function(response) {
						console.log('error', response)
					}
				})
			});

			// DELETE 'TEMPORARY' COMMENTS RENDERED BY JQUERY
	        $('.comdelete-form-temp').on("submit", function(e) {
	        	e.preventDefault()
	            const comment_id = $(this).attr('id');
	            console.log('delete success function - comment id '+comment_id)

	            const url = $(this).attr('action');
	            console.log(url)
	            const serializedData = $(this).serialize();	
	            console.log(serializedData)

	            $.ajax({
	            	type: 'POST',
	                url: url,
					data: {
						'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
						'comment_id':comment_id,
					},
					// dataType: 'text',
	                success: function(response) {
	                    $("#commentdeleteModal-"+response.comment_id).find('.close').click();

	                    $(`.com-list${response.post_id}`).find('#cl'+response.comment_id).remove();

	                    $(`.comment-count-small${response.post_id}`).text(response.num_comments + ' ' + 'Comments');
	                },
					error: function(response) {
						console.log('error', response)
					}
	            });
	        });

	        // DELETE COMMENTS
	        $('.comdelete-form').on("submit", function(e) {
	        	e.preventDefault()
	            const comment_id = $(this).attr('id')
	            console.log('delete success function - comment id '+comment_id)

	            const url = $(this).attr('action')
	            console.log(url)
	            const serializedData = $(this).serialize()
	            console.log(serializedData)

	            $.ajax({
	            	type: 'POST',
	                url: url,
					data: {
						'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
						'comment_id':comment_id,
					},
					// dataType: 'text',
	                success: function(response) {
	                    $("#commentdeleteModal-"+response.comment_id).find('.close').click();

	                    $(`.com-list${response.post_id}`).find('#cl'+response.comment_id).remove();

	                    $(`.comment-count-small${response.post_id}`).text(response.num_comments + ' ' + 'Comments');
	                },
					error: function(response) {
						console.log('error', response)
					}
	            });
	        });

	        // INFINITE SCROLL LOADING COMMENTS
			var working = false;
			$(window).scroll(function() {
				console.log($(this).scrollTop());
				console.log('document height'+$(document).height()+' ---  window height'+ $(window).height())
				console.log('==' +($(document).height() - $(window).height()))
				console.log('scroll top' +$(this).scrollTop())
				// const comcount = $('.com-id').length;
				const comcount = $('.clist').length; 
				console.log('count='+comcount);
				const post_id = $('.content-section').attr('id');

				// if($(this).scrollTop() +1 >= $(document).height() - $(window).height())
				if($(this).scrollTop() + 100 >= $(document).height() - $(window).height()) {
					if (working == false) {
						working = true;
					
					$.ajax({
					type: 'POST',
					url: "{% url 'load-more-comments-detail' %}",
					data: {
						'csrfmiddlewaretoken': "{{csrf_token}}",
						'post_id':post_id,
						'offset': comcount
					},
					dataType: 'json',
					success: function(response) {

					   console.log('end of page')
					   console.log('response data='+response)
					   console.log('success function count='+comcount);
					   console.log('post id ='+post_id)
					   console.log('response.comment='+response.comment);
					   console.log('------------------')

	                    setTimeout(function() {
	                    	working = false;
	                    }, 300);

	                    var user_url = '/user/';
	                    var comment_like_url = '/post/comment/like/';
	                    var delete_url_start = '/post/commenttemp/';
	                    var delete_url_end = '/delete/';
	                    
						var json_data = $.parseJSON(response.comment);
						console.log(json_data)

						$.each(json_data,function(index,data) {

						const comClone = $("#clist00").clone(true, true).val(null);
	                    comClone.appendTo($(`.com-list${post_id}`));
	                    comClone.attr("id", "clist");
	                    comClone.removeAttr("style");

	                    comClone.attr("class", "clist");

	                    comClone.find(".com-id-temp").attr("class", "com-id");

	                    comClone.find(".com-id").attr("id", "cl"+data.pk);
	                    console.log('comment id='+data.pk)
	                    comClone.find(".comment-img").attr("src", response.image);
	                    comClone.find(".comment-user").text(response.username);

	                    comClone.find(".comment-user").attr("href", user_url + response.username);

	                    comClone.find(".comment-created").text(response.created);
	                    comClone.find(".comment-content").text(data.fields.body);

	                    comClone.find(".comlike-form").attr("action", comment_like_url);
	                    comClone.find(".comlike-form").attr("id", data.pk);
	                    comClone.find(".cl-input").attr("value", data.pk);
	                    comClone.find(".com-like").attr("class", "btn btn-like0 btn-sm py-0 com-like");
	                    comClone.find(".com-like").append('<span class="like-icon"><i class="fa fa-heart"></i></span>');

	                    comClone.find(".com-like").attr("id", "like-btn" + data.pk);

	                    comClone.find(".com-modal").text(data.fields.liked.length+ " Likes");

	                    comClone.find(".com-modal").attr("id", "clc" + data.pk);
	                    comClone.find(".com-modal").attr("class", "btn btn-outline-dark btn-sm py-0 com-modal like-count" + data.pk);
	                    comClone.find(".com-modal").attr("data-target", "#commentlikesModalLong-" + data.pk);

	                    comClone.find(".cmodal").attr("id", "commentlikesModalLong-" + data.pk);
	                    comClone.find(".liked-list00").attr("class", "modal-body liked-list" + data.pk);

	                    // LIST OF USERS WHO LIKED THE COMMENT
						$.each(data.fields.liked_username, function(i, item) {
						    console.log(data.fields.liked_username[i], data.fields.liked_user_pp[i]);

					  	var userlikeHTML =  
										'<div id="cl' +data.fields.liked_username[i] + '">' +
										'<ul class="list-unstyled">' +
										'<li>' + 
										'<a href="/user/' +
										data.fields.liked_username[i] + 
										'">' +
										'<img class="rounded-circle article-img" src="' + data.fields.liked_user_pp[i] + '"></a>' +
										'<a class="mr-2 badge badge-light" href="/user/' +
										data.fields.liked_username[i] + 
										'">' +
										data.fields.liked_username[i] +
										'</a>' +
										'</li>' +
										'</ul>' +
										'</div>';

	                    comClone.find($(`.liked-list${data.pk}`).append(userlikeHTML));
	                    });

						// IF request.user == comment.author: show delete button
	                    if (response.user == data.fields.user) {

		                    comClone.find(".delete-btn").attr("id", data.pk);
		                    comClone.find(".delete-btn").attr("data-target", "#commentdeleteModal-"+data.pk);
		                    comClone.find(".comdelete").attr("id", "commentdeleteModal-"+data.pk);

		                    comClone.find(".comdelete-form-temp").attr("action", delete_url_start+data.pk+delete_url_end);
		                    comClone.find(".comdelete-form-temp").attr("id", data.pk);
	                	}
	                	else {
	                		comClone.find(".delete-btn").remove()
	                	};

	                	// IF request.user liked the comment
						function checkValue(value,arr) {
						  var status = 'Not exist';
						 
						  for(var i=0; i<arr.length; i++) {
						    var name = arr[i];
						    if(name == value) {
						      status = 'Exist';
								comClone.find(".com-like").text("Liked ");
								$(`#like-btn${data.pk}`).removeClass('btn-like0').addClass('btn-liked1');
								// $(`#like-btn${data.pk}`).append('<span class="like-icon"><i class="fa fa-heart"></i></span>');
						      break;
						    }
						    else {
								comClone.find(".com-like").text("Like ");
								$(`#like-btn${data.pk}`).removeClass('btn-liked1').addClass('btn-like0');
								// $(`#like-btn${data.pk}`).append('<span class="like-icon"><i class="fa fa-heart"></i></span>');
						    }
						  }
						  return status;
						}
						console.log('status : ' + checkValue(response.user, data.fields.liked) );
						console.log(response.user)
						console.log(data.fields.user)


						});
					}
					});
					}
				}
			});

		});
	</script>
{% endblock scripts %}
