{% extends 'blog/base.html' %}
<body>
{% block content %}
	<article class="media content-section">
		<img class="rounded-circle article-img" src={{ object.author.profile.image.url }}>
	  	<div class="media-body">
	  	<div class="article-metadata">
	  	{% if post.author == request.user %}
	  	<a class="mr-2" href="{% url 'profile' %}">{{ object.author }}</a>
	  	{% else %}
	  	<a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ object.author }}</a>
	  	{% endif %}
	    <small class="text-muted">{{ object.date_posted | date:"F d, Y" }}</small>
	    </div>
	    <h2 class="article-title">{{ object.title }}</h2>
	    <p class="article-content">{{ object.content|urlize }}</p>
	    {% if post.image_url %}
<!-- 	    <img class="article-img rounded mx-auto d-block img-responsive" src={{ post.image_url }}> -->
	    <img class="center-block img-fluid" src={{ post.image_url }}>
	    {% endif %}
		{% if post.get_youtube_urls %}
			{% for url in post.get_youtube_urls %}
				<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			{% endfor %}
		{% endif %}
		{% if post.author == request.user %}
		<div class="mx-auto" style="width: 200px;">
		<a class="btn btn-outline-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' post.id %}">Update</a>
		<a class="btn btn-outline-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.id %}">Delete</a>
		</div>
		{% endif %} 
	  	</div>
	</article>
{% endblock content %}
</body>


<!-- 	# POSTDELETEVIEW TO PREVIOUS PAGE
	# def get_success_url(self):
	# 	return self.request.GET.get('next', reverse('/'))
	    <a class="btn btn-outline-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}?next={{ request.path }}">Delete</a>
 -->