{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="content-section">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Create/Update post</legend>
				{{ form|crispy }}
				{{ image_formset|crispy }}
			</fieldset>
		<div class="media-body">
		<div class="article-metadata">
		<!--Carousel Wrapper-->
		<div id="carousel-1z-{{ post.id }}" class="carousel slide carousel-fade carousel-dark" data-interval="false">
		  <!--Indicators-->
		  <ol class="carousel-indicators">
		  	{% for postimage in post.postimage_set.all %}
		    <li data-target="#carousel-1z" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %} active {% endif %}"></li>
		    {% endfor %}
		  </ol>
		  <!--/.Indicators-->
		  <!--Slides-->
		  <div class="carousel-inner" role="listbox">
		    <!--First slide-->
		    {% for postimage in post.postimage_set.all %}
		    <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
		      <img class="d-block w-100 img-fluid " src="{{ postimage.image.url }}"
		        alt="First slide">
		    </div>
		    {% endfor %}
		    <!--/First slide-->
		  </div>
		  <!--/.Slides-->
		  <!--Controls-->
		  <a class="carousel-control-prev" href="#carousel-1z-{{ post.id }}" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carousel-1z-{{ post.id }}" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		  <!--/.Controls-->
		</div>
		<!--/.Carousel Wrapper-->

<!-- 		{% if post.image_url %}
		<img class="center-block img-fluid" src={{ post.image_url }}>
		{% endif %} -->
<br>
		{% if post.get_youtube_urls %}
			{% for url in post.get_youtube_urls %}
				<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			{% endfor %} 
		{% endif %}
		</div>
		</div>
<br>
			<div class="form-group">
				<button class="btn-lg btn-block button" type="submit"><i class="fa fa-solid fa-pen"></i>+ Post</button>
			</div>
		</form>
	</div>
{% endblock content %}