{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

<!-- HTML FOR POST CONFIRM DELETE -->

{% block content %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<h2>Are you sure you want to delete the post?</h2>
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-danger" type="submit">Delete</button>
				<a class="btn btn-outline-secondary ml-5" href="{% url 'post-detail' object.id %}">Cancel</a>
			</div>
		</form>
	</div>

{% block news_content %}
{% endblock %}
{% endblock content %}