{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

<!-- FORM FOR NEW POST -->

{% block content %}
	<div class="content-section">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Create/Update post</legend>
				{{ form|crispy }}
				{{ image_formset|crispy }}
			</fieldset>
		<div class="media-body">
			<div class="article-metadata">

				{% include 'blog/posts_sub.html' %}

			</div>
		</div>
		<br>
			<div class="form-group">
				<button class="btn-lg btn-block button" type="submit"><i class="fa fa-solid fa-pen"></i> Post</button>
			</div>
		</form>
	</div>

{% block news_content %}
{% endblock %}
{% endblock content %}