{% extends 'blog/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_tags %}


{% block content %}	
<!-- <div class="content-section"> -->
<article class="content-section shadow">
	    <img class="rounded-circle account-img" src="{{ user_pro.profile.image.url }}">
	        <h2>{{ user_pro.username }}</h2>
				<p class="article-content">
			        <span class="text-secondary">Email: {{ user_pro.email|urlize }}</span><br>
			        <span class="text-dark">Bio: {{ user_pro.profile.bio|urlizetrunc:26 }}</span><br>
			        <span class="text-dark">Location: {{ user_pro.profile.location }}</span><br>
				</p>
		<hr>
		<h4>Social Media</h4>
</article>

<div class="content-section pb-5">
<!-- Posts by {{ view.kwargs.username  -->
<h4 style="float:left">Total of {{ user_pro.post_set.all.count }} posts </h4>
	          {% if users_categories %}
	          	<button class="btn dropdown-toggle mr-auto" id="Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="float:right"> 
	          		Categories
	          	</button>
	          	<div class="dropdown-menu shadow" aria-labelledby="Dropdown">
	          		{% for category in users_categories %}
	          		<a class="dropdown-item" href="{% url 'user-posts-bycat' user_pro.username category %}">{{ category }}</a>
	          		{% endfor %}
	          	</div>
	          {% endif %}

</div>

{% for post in posts %}
	<article class="media content-section shadow">
		<a class="mr-2" href="{% url 'user-posts' post.author.username %}">
			<img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}"></a>
		<div class="media-body">

		{% include 'blog/posts_main.html' %}

		{% if request.user.is_authenticated %}
		<br>
		<form action="{% url 'comment-post-view' %}" method="POST" class="com-form" id="{{ post.id }}">
			{% csrf_token %}
			<input type="hidden" name="post_id" value="{{ post.id }}">
			{{ c_form|crispy }}
			<button type="submit" class="button btn-sm mt-n2 com-btn" id="{{ post.pk }}" name="submit_c_form" style="float:right;">
				Comment 
			</button>
		</form>
		{% else %}
		<a href="{% url 'login' %}" class="button btn-sm text-decoration-none mt-n2" style="float:right;">Comment</a>
		{% endif %}
		
		{% if post.comment_list %}
		<button class="show-replies-button button-empty btn-sm py-0 mx-auto d-block btn-block">Show replies</button>
    	<div class="comment-box" id="comment-box-{{ post.id }}">

			{% if post.comment_list|length|gtoe:7 %}
			<a href="{% url 'latest-comment-post-detail' post.id %}" class="btn btn-outline-secondary btn-sm py-0" style="font-size: 0.8em;">Sort By Latest Comments</a>
			<h5><small class="font-weight-bold" style="font-size: 0.8em;">showing top 7 comments</small></h5>
			{% endif %}

			<div class="comment-list com-list{{ post.id }}" id="{{ post.pk }}">
				{% include 'blog/comments.html' %}
			</div>

				{% if post.comment_list|length|gtoe:7 %}
				<br>
				<a href="{% url 'post-detail' post.id %}" class="btn btn-outline-secondary btn-sm py-0 mx-auto d-block" style="font-size: 0.8em;">Show more replies</a> 
				{% endif %}
		</div>
		{% else %}
		<br><br>
		<div class="comment-list com-list{{ post.id }}" id="{{ post.pk }}">
			{% include 'blog/comments.html' %}
		</div>
		{% endif %}

		</div>
	</article>

{% endfor %}

	{% include 'blog/comment_template.html' %}

	{% include 'blog/pagination.html' %}

{% endblock content %}

{% block scripts %} 
<script src="{% static 'blog/base.js' %}"></script>
{% endblock scripts %}