{% extends 'blog/base.html' %}
{% load static %}

<!-- HTML FOR ANY USER'S PROFILE PAGE WITH POSTS ORGANIZED BY CATEGORY -->

{% block content %}	

{% include 'blog/profile_header.html' %}
{% include 'blog/user_posts_main.html' %}
{% include 'blog/comment_template.html' %}
{% include 'blog/pagination.html' %}

{% block news_content %}
{% endblock %}
{% endblock content %}

{% block scripts %} 
<script src="{% static 'blog/base.js' %}"></script>
<script src="{% static 'blog/scroll_position.js' %}"></script>
{% endblock scripts %}
