{% extends 'blog/base_secondary.html' %}

{% block content %}

<h2 class="text-center">500 response : Server Error</h2>
<h4>Please try again later</h4>
<h5>
	The HyperText Transfer Protocol (HTTP) 500 Internal Server Error server error response code indicates that the server encountered an unexpected condition that prevented it from fulfilling the request. This error response is a generic "catch-all" response.
</h5>

<button class="button" onclick="history.back()">Go Back</button>

{% endblock %}