{% extends 'blog/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_tags %}

<!-- HTML FOR THE LOGGED IN USER'S PROFILE PAGE -->

{% block content %}

<!-- <div class="content-section">   width:650px;-->
<article class="content-section shadow">
		{% if user.profile.background_image %}
		<br><img data-enlargeable class="img-fluid" style="height:300px; width:690px;" src="{{ user.profile.background_image.url }}"><br>
		{% endif %}
	    <img data-enlargeable class="rounded-circle account-img" src="{{ user.profile.image.url }}">

	    {% if user == request.user %}
	    {% else %}
	    {% if is_following %}
	    <div style="float:right;">
	    	<form method="POST" action="{% url 'remove-follower' user.profile.pk %}">
	    	{{ csrf_token }}
	    	<button class="btn btn-outline-danger" type="submit">Unfollow</button>
	    	</form>
		</div>
		{% else %}
	    <div style="float:right;">
	    	<form method="POST" action="{% url 'add-follower' user.profile.pk %}">
	    	{{ csrf_token }}
	    	<button class="btn btn-outline-success" type="submit">Follow</button>
	    	</form>
		</div>
		{% endif %}
		{% endif %}

			<div class="test">
	        <h2>@{{ user.username }}</h2>
	        

			<!-- Button trigger modal -->
			<button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#followersModalLong" style="font-size: 0.8em; float:right;"><span class="font-weight-bold">
			  {{ number_of_followers }} </span>Followers
			</button>

			<!-- Modal -->
			<div class="modal fade" id="followersModalLong" tabindex="-1" role="dialog" aria-labelledby="followersModalLongTitle" aria-hidden="true">
			  <div class="modal-dialog" role="document">
				<div class="modal-content">
				  <div class="modal-header">
					<h5 class="modal-title" id="followersModalLongTitle">Followed by</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
				  </div>
				  <div class="modal-body followers-list">
					{% for user in followers %}
					<div id="fwl{{ user.user.id }}">
					<ul class="list-unstyled">
					<li>
						<div>
						<a href="{% url 'user-posts' user %}">
						<img class="rounded-circle article-img" src="{{ user.profile.image.url }}"></a>
						<a class="mr-2 badge badge-light" href="{% url 'user-posts' user %}">{{ user }}</a>
						</div>
					</li>
					</ul>
					</div>
					{% endfor %}
				  </div>
				</div>
			  </div>
			</div>

			<!-- Button trigger modal -->
			<button type="button" class="btn btn-light btn-sm mr-4" data-toggle="modal" data-target="#followingModalLong" style="font-size: 0.8em; float:right;"><span class="font-weight-bold">
			  {{ following.count }} </span>Following
			</button>

			<!-- Modal -->
			<div class="modal fade" id="followingModalLong" tabindex="-1" role="dialog" aria-labelledby="followingModalLongTitle" aria-hidden="true">
			  <div class="modal-dialog" role="document">
				<div class="modal-content">
				  <div class="modal-header">
					<h5 class="modal-title" id="followingModalLongTitle">Following</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
				  </div>
				  <div class="modal-body following-list">
					{% for user in following %}
					<div id="fgl{{ user.user.id }}">
					<ul class="list-unstyled">
					<li>
						<div>
						<a href="{% url 'user-posts' user %}">
						<img class="rounded-circle article-img" src="{{ user.image.url }}"></a>
						<a class="mr-2 badge badge-light" href="{% url 'user-posts' user %}">{{ user }}</a>
						</div>
					</li>
					</ul>
					</div>
					{% endfor %}
				  </div>
				</div>
			  </div>
			</div>


	        <h5>{{ user.first_name }} {{ user.last_name }}</h5>
	        </div>


				<p class="article-content">
			        <span class="text-dark">Bio: {{ user.profile.bio|urlizetrunc:26 }}</span><br>
			        {% if user.profile.location != 'n/a'%}
			        <span class="text-dark">Lives in {{ user.profile.location }}</span>
			        {% endif %}
				</p>
		<hr>
		<div>
			{% if user.profile.show_email %}
			<a href="mailto:{{ user.email }}"><img class="rounded" src="/media/sm_logos/email-logo.png" style="height:50px; width:50px;" title="Email"></a>
			{% endif %}
			{% if user.profile.website_url %}
			<a href="{{ user.profile.website_url }}" target="_blank" rel="noopener noreferrer"><img class="rounded-circle"src="/media/sm_logos/website-logo.png" style="height:50px; width:50px;" title="Personal Website"></a>
			{% endif %}
			{% if user.profile.linkedin_url %}
			<a href="{{ user.profile.linkedin_url }}" target="_blank" rel="noopener noreferrer"><img class="rounded"src="/media/sm_logos/linkedin-logo.png" style="height:50px; width:50px;" title="LinkedIn"></a>
			{% endif %}
			{% if user.profile.github_url %}
			<a href="{{ user.profile.github_url }}" target="_blank" rel="noopener noreferrer"><img class="rounded"src="/media/sm_logos/github-logo.png" style="height:50px; width:50px;" title="LinkedIn"></a>
			{% endif %}
			{% if user.profile.stackoverflow_url %}
			<a href="{{ user.profile.stackoverflow_url }}" target="_blank" rel="noopener noreferrer"><img class="rounded" src="/media/sm_logos/stackoverflow-logo.png" style="height:50px; width:50px;" title="Stack Overflow"></a>
			{% endif %}
			{% if user.profile.facebook_url %}
			<a href="{{ user.profile.facebook_url }}" target="_blank" rel="noopener noreferrer"><img class="rounded" src="/media/sm_logos/facebook-logo.png" style="height:50px; width:50px;" title="Facebook"></a>
			{% endif %}
			{% if user.profile.instagram_url %}
			<a href="{{ user.profile.instagram_url }}" target="_blank" rel="noopener noreferrer"><img class="rounded" src="/media/sm_logos/instagram-logo.png" style="height:50px; width:50px;" title="Instagram"></a>
			{% endif %}
			{% if user.profile.twitter_url %}
			<a href="{{ user.profile.twitter_url }}" target="_blank" rel="noopener noreferrer"><img class="rounded" src="/media/sm_logos/twitter-logo.png" style="height:50px; width:50px;" title="Twitter"></a>
			{% endif %}
			{% if user.profile.youtube_url %}
			<a href="{{ user.profile.youtube_url }}" target="_blank" rel="noopener noreferrer"><img class="rounded" src="/media/sm_logos/youtube-logo.png" style="height:50px; width:50px;" title="Youtube"></a>
			{% endif %}
		</div>
		<hr>
	<a href="{% url 'profile_settings' %}" class="button" role="button">Settings <i class="fa fa-solid fa-gear"></i></a>
</article>

<div class="content-section pb-5">
<!-- Posts by {{ view.kwargs.username  -->
<h4 style="float:left">Total of {{ user.post_set.all.count }} posts </h4>
	          {% if users_categories %}
	          	<button class="btn dropdown-toggle mr-auto" id="Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="float:right"> 
	          		Categories
	          	</button>
	          	<div class="dropdown-menu shadow" aria-labelledby="Dropdown">
	          		{% for category in users_categories %}
	          		<a class="dropdown-item" href="{% url 'user-posts-bycat' user.username category %}">{{ category }}</a>
	          		{% endfor %}
	          	</div>
	          {% endif %}

</div>

	{% include 'blog/user_posts_main.html' %}

	{% include 'blog/comment_template.html' %}

	{% include 'blog/pagination.html' %}

{% block news_content %}
{% endblock %}
{% endblock content %}

{% block scripts %} 
<script src="{% static 'blog/base.js' %}"></script>
{% endblock scripts %}