{% extends 'blog/base_secondary.html' %}
{% load account socialaccount %}
{% load socialaccount %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Join Today</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="button" type="submit">Sign Up</button>
			</div>
		</form>
		<div class="border-top pt-3">
			<small class="text-muted">
				Already Have An Account?<a class="ml-2" href="{% url 'login' %}">Sign In</a>
			</small>
			<div class="socialaccount_ballot">
			{% get_providers as socialaccount_providers %}

			{% for provider in socialaccount_providers %}
			{% if provider.id == "openid" %}
			{% for brand in provider.get_brands %}
			<div class="socialaccount_ballot">
			  <a title="{{brand.name}}" 
			     class="socialaccount_provider {{provider.id}} {{brand.id}}" 
			     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
			     >{{brand.name}}</a>
			{% endfor %}
			{% endif %}
			  <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}" 
			     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{provider.name}}</a>
			{% endfor %}
			</div>
			</div>
		</div>
	</div>
{% endblock content %}